// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.menu-list a {
  text-decoration: none!important;
  color: black!important;
}

.buttons a {
  text-decoration: none!important;
}

#tile {
  margin-bottom: 30%;
}
